.admin-panel {
	max-width: 680px;
	margin: 2rem auto;
	width: 100%;
	
	@media (min-width: 992px) {
		max-width: 768px;
	}

	&__title-wrapper {
		display: flex;
		justify-content: center;
	}

	&__table {
		display: table !important;
	}

	&__name-column {
		white-space: normal;
		width: 100%;
		min-width: 200px;
		max-width: 260px;
		padding-left: 1rem !important;
	}

	&__add-place {
		text-align: right;
		margin-right: 1rem;
		margin-top: 1rem;
	}

	&__add-place-icon {
		width: 2rem;
		height: 2rem;
		cursor: pointer;
	}

	&__place-controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__delete-place-icon {
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
	}

	&__deactivate-switch {
		margin-left: .5rem;
	}
}

td {
	&.admin-panel {
		&__name-column,
		&__category-column,
		&__votes-column {
			cursor: pointer;
		}
	}
}
