.home {
	&__category-list {
		max-width: 600px;
		border: 2px solid $dark-color;
		margin: 1.2rem .5rem;

		@media (min-width: 600px) {
			margin: 2rem auto;
		}
	}
}

.login-welcome {
	text-align: center;
	padding-left: .5rem;
	padding-right: -5rem;

	&__success {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (min-width: 480px) {
			flex-direction: row;
		}
	}

	&__username {
    font-weight: 600;
    text-transform: lowercase;
	}

	&__link {
		color: #3b5998;
		text-decoration: none;
	}

	&__logout {
		margin-left: .5rem;
	}
}
