.home {
	&__category-list {
		max-width: 600px;
		border: 2px solid $dark-color;
		margin: 2rem .5rem;

		@media (min-width: 600px) {
			margin: 2rem auto;
		}
	}
}

.login-welcome {
  text-align: center;
  
  &__success {
    display: flex;
    align-items: center;
    justify-content: center;
  }

	&__link {
		color: #3b5998;
		text-decoration: none;
  }
  
  &__logout {
    margin-left: .5rem;
  }
}
