.imprint {
	display: grid;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;

	grid-template-rows: 125px 1fr;
	text-align: left;

	&__title {
		margin-top: 2.5rem;
		width: 100%;
		text-align: center;
	}

	&__google-analytics {
    font-size: .9rem;
    padding-bottom: 3rem;
	}

	&__provider {
		padding-bottom: 2rem;
	}

	&__copyright {
		padding-bottom: 1rem;
		font-size: .9rem;
	}
}
