.places-dashboard {
	height: 100%;
	background-color: $light-color;

	display: grid;
	grid-template-rows: 1fr max-content;
	grid-template-columns: 1fr max-content;
	grid-template-areas: "map" "list";

	@media (min-width: 992px) {
		grid-template-areas: "map list";
	}

	&__map {
		grid-area: map;
		background-color: $secondary-color;
		position: relative;
		min-height: 70vh;
		// important: The container holding the <Map /> must be set to position relative
	}

	&__list {
		grid-area: list;

		@media (min-width: 992px) {
			margin-top: -4px;
		}
	}
}

.culture {
	height: 100%;
}
