.places-dashboard {
	min-height: 100%;
	background-color: $light-color;

	display: grid;
	grid-template-rows: 1fr max-content;
	grid-template-areas: "places-map" "places-list";

	@media (min-width: 992px) {
		grid-template-columns: 1fr max-content;
		grid-template-areas: "places-map places-list";
	}

	&__map {
		grid-area: "places-map";
		background-color: $secondary-color;
		position: relative;
		min-height: 70vh;
		// important: The container holding the <Map /> must be set to position relative
	}

	&__list {
		grid-area: "places-list";

		@media (min-width: 992px) {
			margin-top: -4px;
		}
	}
}
