<!--
| HtmlWebpackPlugin:
| - generates the actual index.html based off this template
| - dynamically add references to scripts and styles bundled into this file
|
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jaffna Guide</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Begin Opengraph -->
  <meta property="og:type" content="traveller guide" />
  <meta property="og:title" content="Jaffna Guide" />
  <meta property="og:url" content="https://jaffna.guide" />
  <meta property="og:image" content="https://jaffna.guide/logo.png" />
  <meta property="og:description" content="A traveller companion made in Jaffna" />
  <!-- End Opengraph Code -->
</head>

<body>
  <div id="root"></div>
</body>

</html>
