.carousel-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	max-width: 1024px;
	overflow-y: hidden;
	margin-bottom: 1rem;

	@media (min-width: 992px) {
		margin-bottom: 2rem;
	}
}

.carousel-slide-track {
	grid-area: slide-track;
	position: relative;
	overflow: hidden;
	height: max-content;
	margin-right: 0;

	@media (min-width: 768px) {
		margin-right: 150px;
	}

	&__inner {
		transition: all .5s;
		position: relative;
		display: flex;
	}
}

.carousel-slide {
	flex: 1;

	&__image {
		width: 100%;
		height: 100%;
	}
}

.carousel-thumbnail-track {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	grid-area: thumbnail-track;
	overflow-y: scroll;
	display: none;
	height: 102%;
	

	@media (min-width: 768px) {
		// display: table-row;
		display: initial;
	}

	&__inner {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: grid;
		grid-template-columns: auto;
		padding-left: 3px;
	}
}

.carousel-thumbnail {
	width: 150px;
	height: 100%;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		padding-bottom: 3px;
	}
}

.carousel-arrow {
	position: absolute;
	z-index: 3;
	svg {
		fill: $light-color;
	}

	&--left {
		left: 1%;
		bottom: 50%;
		transform: translateY(50%);
	}

	&--right {
		right: 1%;
		bottom: 50%;
		transform: translateY(50%);
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		fill: $dark-color;
		transition: all .3s;

		&:hover {
			transform: scale(1.3);
		}
	}
}
