.carousel-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;	
}

.carousel-slide-track {
	&__outer {
		position: relative;
		overflow-x: hidden;
	}

	&__inner {
		transition: all .5s;
		position: relative;
		display: flex;
	}
}

.carousel-slide {
	// min-width: fill-available;
	width: 100%;

	&__image {
		height: 500px;
	}
}

.carousel-thumbnail-track {
	&__outer {
		position: absolute;
		top: 0;
		left: 0;
		// z-index: 1;
	}

	&__inner {
		display: flex;
	}
}

.carousel-thumbnail {
}

.carousel-arrow {
	position: absolute;
	transform: translateY(-50%);
	z-index: 3;

	&--left {
		left: 1%;
		top: 50%;
	}

	&--right {
		right: 1%;
		top: 50%;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		fill: $dark-color;
		transition: all .3s;

		&:hover {
			transform: scale(1.3);
		}
	}
}
