.category-list {
	max-width: 600px;
  border: 2px solid $dark-color;
  margin: 2rem .5rem;

  @media (min-width: 600px) {
    margin: 2rem auto;
  }

	&__ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
	}

	&__item {
		background-color: rgba(255, 255, 255, 0.8);
		border-top: 1px solid $dark-color;
		border-right: 1px solid $dark-color;
    border-left: 1px solid $dark-color;
    
    font-size: 1.6rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

		&:last-child {
			border-bottom: 1px solid $dark-color;
		}

		a {
			display: block;
			width: 100%;
			color: $dark-color;
			text-decoration: none;
			font-family: $primary-font;
			// background-color: navajowhite;
			padding: 2rem 2rem;
		}
	}
}
