.category-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	overflow: hidden;

	&__item {
		background-color: rgba(255, 255, 255, 0.8);
		border-top: 1px solid $dark-color;
		border-right: 1px solid $dark-color;
		border-left: 1px solid $dark-color;

		font-size: 1.6rem;

		@media (min-width: 480px) {
			font-size: 1.7rem;
		}

		@media (min-width: 768px) {
			font-size: 1.8rem;
		}

		a {
			transition: all .3s;
			display: block;
			width: 100%;
			color: $dark-color;
			text-decoration: none;
			font-family: $secondary-font;
			padding: 2rem 3rem;

			@media (min-width: 480px) {
				padding: 2.5rem 4rem;
			}

			@media (min-width: 768px) {
				padding: 2.5rem 5rem;
			}
		}

		&:hover {
			a {
				text-decoration: underline;
				color: $light-color;
				transform: scale(1.4) translateX(10%) translateY(-10%) rotate(-4deg);
			}
		}

		&:last-child {
			border-bottom: 1px solid $dark-color;
		}

		&--culture {
			background: url('../assets/culture.png'), linear-gradient(180deg, #fab397, #faf0cd);
			background-size: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			height: 10rem;

			@media (min-width: 420px) {
				height: 11rem;
			}

			@media (min-width: 480px) {
				height: 14rem;
			}
		}

		&--villages {
			background: linear-gradient(#fdfbfb, #ebedee);

			&:hover {
				a {
					color: $dark-color;
				}
			}
		}

		&--restaurants {
			background: url('../assets/restaurants.png'), linear-gradient(180deg, #89CF99, #DFFEE3);
			background-size: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			height: 9rem;

			&:hover {
				a {
					color: $dark-color;
				}
			}

			@media (min-width: 320px) {
				height: 9rem;
			}

			@media (min-width: 360px) {
				height: 10rem;
			}

			@media (min-width: 420px) {
				height: 10.5rem;
			}

			@media (min-width: 480px) {
				height: 12.5rem;
			}

			@media (min-width: 520px) {
				height: 14rem;
			}
		}

		&--hotels {
			background: linear-gradient(180deg, #accbee, #e7f0fd);

			// &:hover {
			// 	a {
			// 		color: $dark-color;
			// 	}
			// }
		}

		&--education {
			background: linear-gradient(180deg, #f1a4b5, #d587b3);
		}
	}
}
