.editor {
  @extend .form-input;

  &__active {
    @extend .form-input:focus;
  }

	// @extend .form-input:focus;
	// font-family: system-ui;
	font-size: 1rem;
	min-height: 6rem;
	height: unset;
	color: $dark-color;

	h1 {
		line-height: 2rem;
		padding-top: .75rem;
		padding-bottom: 1rem;
		text-align: center;
		font-family: $primary-font;
		color: darken($primary-color, 5%);
	}

	h2 {
		text-align: center;
		line-height: 1.8rem;
		padding-bottom: 1rem;
		padding-top: .5rem;
		color: $dark-color;
	}

	// draft-js-linkify-plugin
	.draftJsLinkifyPlugin__link__2ittM,
	.draftJsLinkifyPlugin__link__2ittM:visited {
		color: $primary-color;
		text-decoration: none;
	}

	.draftJsLinkifyPlugin__link__2ittM:hover,
	.draftJsLinkifyPlugin__link__2ittM:focus {
		color: darken($primary-color, 5%);
		text-decoration: underline;
		outline: 0; /* reset for :focus */
		cursor: pointer;
	}

	.draftJsLinkifyPlugin__link__2ittM:active {
		color: darken($primary-color, 10%);
	}

	// draft-js-mention-plugin
	.draftJsMentionPlugin__mention__29BEd,
	.draftJsMentionPlugin__mention__29BEd:visited {
		color: #575f67;
		cursor: pointer;
		display: inline-block;
		// background: #e6f3ff;
		background: rgba($primary-color, 0.1);
		padding-left: 2px;
		padding-right: 2px;
		border-radius: 2px;
		text-decoration: none;
	}

	.draftJsMentionPlugin__mention__29BEd:hover,
	.draftJsMentionPlugin__mention__29BEd:focus {
		// color: #677584;
		// color: $dark-color;
		// background: #edf5fd;
		background: rgba($primary-color, 0.12);
		outline: 0; /* reset for :focus */
	}

	.draftJsMentionPlugin__mention__29BEd:active {
		color: #222;
		background: #455261;
	}
	.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm {
		padding: 7px 10px 3px 10px;
		transition: background-color 0.4s cubic-bezier(.27, 1.27, .48, .56);
	}

	.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm:active {
		// background-color: #cce7ff;
		background: rgba($primary-color, 0.1);
	}

	.draftJsMentionPlugin__mentionSuggestionsEntryFocused__3LcTd {
		// background-color: #e6f3ff;
		background-color: rgba($primary-color, 0.1);
	}

	.draftJsMentionPlugin__mentionSuggestionsEntryText__3Jobq {
		display: inline-block;
		margin-left: 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 368px;
		font-size: 0.9em;
		margin-bottom: 0.2em;
	}

	.draftJsMentionPlugin__mentionSuggestionsEntryAvatar__1xgA9 {
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}
	.draftJsMentionPlugin__mentionSuggestions__2DWjA {
		border: 1px solid #eee;
		margin-top: 0.4em;
		position: absolute;
		min-width: 220px;
		max-width: 440px;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0px 4px 30px 0px rgba(220, 220, 220, 1);
		cursor: pointer;
		padding-top: 8px;
		padding-bottom: 8px;
		z-index: 2;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		box-sizing: border-box;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	// draft-js-side-toolbar-plugin
	.draftJsToolbar__blockType__27Jwn {
		box-sizing: border-box;
		border: 1px solid #ddd;
		background: #fff;
		padding: 5px;
		margin: 0;
		border-radius: 18px;
		cursor: pointer;
		height: 36px;
		width: 36px;
		line-height: 36px;
		text-align: center;
	}

	.draftJsToolbar__blockType__27Jwn svg {
		fill: #888;
	}

	.draftJsToolbar__spacer__2Os2z {
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		width: 74px;
		height: 8px;
	}

	.draftJsToolbar__popup__GHzbY {
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		background: #efefef;
		border: 1px solid #ddd;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
		z-index: 3;
		box-sizing: border-box;
		width: 74px;
		margin-top: 8px;
	}

	.draftJsToolbar__popup__GHzbY:after,
	.draftJsToolbar__popup__GHzbY:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.draftJsToolbar__popup__GHzbY:after {
		border-color: rgba(251, 251, 251, 0);
		border-bottom-color: #fbfbfb;
		border-width: 4px;
		margin-left: -4px;
	}
	.draftJsToolbar__popup__GHzbY:before {
		border-color: rgba(221, 221, 221, 0);
		border-bottom-color: #ddd;
		border-width: 6px;
		margin-left: -6px;
	}
	.draftJsToolbar__buttonWrapper__1Dmqh {
		display: inline-block;
	}

	.draftJsToolbar__button__qi1gf {
		background: #fbfbfb;
		color: #888;
		font-size: 18px;
		border: 0;
		padding-top: 5px;
		vertical-align: bottom;
		height: 34px;
		width: 36px;
	}

	.draftJsToolbar__button__qi1gf svg {
		fill: #888;
	}

	.draftJsToolbar__button__qi1gf:hover,
	.draftJsToolbar__button__qi1gf:focus {
		background: #f3f3f3;
		outline: 0; /* reset for :focus */
	}

	.draftJsToolbar__active__3qcpF {
		background: #efefef;
		color: #444;
	}

	.draftJsToolbar__active__3qcpF svg {
		fill: #444;
	}

	.draftJsToolbar__separator__3M3L7 {
		display: inline-block;
		border-right: 1px solid #ddd;
		height: 24px;
		margin: 0 0.5em;
	}
	.draftJsToolbar__wrapper__9NZgg {
		position: absolute;
	}

	// draft-js-hashtag-plugin
	.draftJsHashtagPlugin__hashtag__1wMVC {
		// color: #5e93c5;
		color: $dark-color;
		font-family: $secondary-font;
		padding-right: .2rem;
		padding-left: .2rem;
		padding-top: .2rem;
		// display: inline-block;
	}

	// draft-js-inline-toolbar-plugin
	.draftJsToolbar__buttonWrapper__1Dmqh {
    display: inline-block;
	}

	.draftJsToolbar__button__qi1gf {
		background: #fbfbfb;
		color: #888;
		font-size: 18px;
		border: 0;
		padding-top: 5px;
		vertical-align: bottom;
		height: 34px;
		width: 36px;
	}

	.draftJsToolbar__button__qi1gf svg {
		fill: #888;
	}

	.draftJsToolbar__button__qi1gf:hover,
	.draftJsToolbar__button__qi1gf:focus {
		background: #f3f3f3;
		outline: 0; /* reset for :focus */
	}

	.draftJsToolbar__active__3qcpF {
		background: #efefef;
    color: #444;
	}

	.draftJsToolbar__active__3qcpF svg {
		fill: #444;
	}
	.draftJsToolbar__separator__3U7qt {
		display: inline-block;
		border-right: 1px solid #ddd;
		height: 24px;
		margin: 0 0.5em;
	}
	.draftJsToolbar__toolbar__dNtBH {
		left: 50%;
		-webkit-transform: translate(-50%) scale(0);
		transform: translate(-50%) scale(0);
		position: absolute;
		border: 1px solid #ddd;
		background: #fff;
		border-radius: 2px;
		box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
		z-index: 2;
		box-sizing: border-box;
	}

	.draftJsToolbar__toolbar__dNtBH:after,
	.draftJsToolbar__toolbar__dNtBH:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.draftJsToolbar__toolbar__dNtBH:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		margin-left: -4px;
	}
	.draftJsToolbar__toolbar__dNtBH:before {
		border-color: rgba(221, 221, 221, 0);
		border-top-color: #ddd;
		border-width: 6px;
		margin-left: -6px;
	}
}

// draft-js-emoji-plugin
.draftJsEmojiPlugin__emojiSelect__34S1B {
	margin-top: .3rem;
	margin-bottom: .5rem;
	display: inline-block;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol,
.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
	margin: 0;
	padding: 0;
	width: 2.5em;
	height: 1.5em;
	box-sizing: border-box;
	line-height: 1.2em;
	font-size: 1.5em;
	color: #888;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 1.5em;
	cursor: pointer;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:focus,
.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:focus {
	outline: 0;
	/* reset for :focus */
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:hover,
.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:hover {
	background: #f3f3f3;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol:active,
.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu:active {
	background: #e6e6e6;
}

.draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
	background: #ededed;
}

.draftJsEmojiPlugin__emojiSelectPopover__1J1s0 {
	margin-top: 10px;
	padding: 0 .3em;
	position: absolute;
	z-index: 1000;
	box-sizing: content-box;
	background: #fff;
	border: 1px solid #e0e0e0;
	box-shadow: 0 4px 30px 0 gainsboro;
}

.draftJsEmojiPlugin__emojiSelectPopoverClosed__3Kxxq {
	display: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverTitle__3tpXz {
	margin: 0 0 .3em;
	padding-left: 1em;
	height: 2.5em;
	line-height: 2.5em;
	font-weight: normal;
	font-size: 1em;
	color: #9e9e9e;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m {
	margin: 0 0 .3em;
	position: relative;
	z-index: 0;
	width: 21em;
	height: 20em;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroup__3zwcE {
	padding: 0 .5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroup__3zwcE:first-child
	.draftJsEmojiPlugin__emojiSelectPopoverGroupTitle__2pC51 {
	display: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupTitle__2pC51 {
	margin: 1em 0;
	padding-left: .5em;
	font-weight: normal;
	font-size: 1em;
	color: #9e9e9e;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupList__HQ8_y {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroupItem__2pFOS {
	width: 2.5em;
	height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelect__28bny {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectList__haFSJ {
	margin: .3em;
	padding: .3em;
	position: absolute;
	display: -webkit-box;
	display: flex;
	list-style: none;
	border: 1px solid #e0e0e0;
	border-radius: .5em;
	background: #fff;
	box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectItem__2SgvL {
	width: 2.5em;
	height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverToneSelectItem__2SgvL:first-child {
	border-right: 1px solid #e0e0e0;
}

.draftJsEmojiPlugin__emojiSelectPopoverEntry__1ErDJ,
.draftJsEmojiPlugin__emojiSelectPopoverEntryFocused__M28XS {
	padding: 0;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
}

.draftJsEmojiPlugin__emojiSelectPopoverEntryFocused__M28XS {
	background-color: #efefef;
}

.draftJsEmojiPlugin__emojiSelectPopoverEntryIcon__1yNaC {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
}

.draftJsEmojiPlugin__emojiSelectPopoverNav__1Nzd7 {
	margin: 0;
	padding: 0 .5em;
	display: -webkit-box;
	display: flex;
	width: 20em;
	list-style: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavItem__qydCX {
	width: 2.5em;
	height: 2.5em;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavEntry__1OiGB,
.draftJsEmojiPlugin__emojiSelectPopoverNavEntryActive__2j-Vk {
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	color: #bdbdbd;
	background: none;
	border: none;
	outline: none;
}

.draftJsEmojiPlugin__emojiSelectPopoverNavEntryActive__2j-Vk {
	color: #42a5f5;
}

.draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6 {
	position: absolute;
	right: 0;
	top: .3em;
	bottom: .3em;
	width: .25em;
	background-color: #e0e0e0;
	border-radius: .125em;
	opacity: .1;
	transition: opacity .4s;
}

.draftJsEmojiPlugin__emojiSelectPopoverScrollbarThumb__jGYdG {
	background-color: #000;
	border-radius: .125em;
	cursor: pointer;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m:hover .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6 {
	opacity: .3;
}

.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6:hover,
.draftJsEmojiPlugin__emojiSelectPopoverGroups__35t9m .draftJsEmojiPlugin__emojiSelectPopoverScrollbar__1Xjc6:active {
	opacity: .6;
}
.draftJsEmojiPlugin__emoji__2oqBk {
	background-position: center;
	/* make sure the background the image is only shown once */
	background-repeat: no-repeat;
	background-size: contain;
	/* move it a bit further down to align it nicer with the text */
	vertical-align: middle;

	/*
  We need to limit the emoji width because it can be multiple characters
  long if it is a 32bit unicode. Since the proper width depends on the font and
  it's relationship between 0 and other characters it's not ideal. 1.95ch is not
  the best value, but hopefully a good enough approximation for most fonts.
  */
	display: inline-block;
	overflow: hidden;
	max-width: 1.95ch;
	/*
  Needed for iOS rendering to avoid some icons using a lot of height without
  actually needing it.
  */
	max-height: 1em;
	line-height: inherit;
	margin: -.2ex 0em .2ex;
	/*
  In the past we used opacity: 0 to hide the original Emoji icon no matter what
  system it is. Recently we switched to color: transparent since it started to
  work in recent iOS version.
  */
	color: transparent;

	/*
  Some SVG files (say 2764 for :heart:) don't have default width/height, thus
  may not be rendered properly on some platforms/browsers (e.g., Windows 10 +
  Chrome 61).
  */
	min-width: 1em;
}
.draftJsEmojiPlugin__emojiSuggestionsEntry__2-2p_ {
	padding: 5px 10px 1px 10px;
	transition: background-color 0.4s cubic-bezier(.27, 1.27, .48, .56);
}

.draftJsEmojiPlugin__emojiSuggestionsEntry__2-2p_:active {
	background-color: #cce7ff;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryFocused__XDntY {
	background-color: #e6f3ff;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryText__2sPjk {
	display: inline-block;
	margin-left: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 368px;
	font-size: 0.9em;
}

.draftJsEmojiPlugin__emojiSuggestionsEntryIcon__1qC2V {
	width: 1em;
	height: 1em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	display: inline-block;
}
.draftJsEmojiPlugin__emojiSuggestions__2ffcV {
	border: 1px solid #eee;
	margin-top: 1.75em;
	position: absolute;
	min-width: 220px;
	max-width: 440px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 4px 30px 0px rgba(220, 220, 220, 1);
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 2;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	transform: scale(0);
}
