.form {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.form-label {
	font-size: .9rem;
	font-weight: 600;
}

.form-group {
	&:not(:last-child) {
		margin-bottom: .7rem;
	}
}

.add-place-form {
	height: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	padding-left: .8rem;
	padding-right: .8rem;
	padding-top: .4rem;

	&__image-page {
		flex: 1;
		padding-bottom: 2rem;
	}

	&__header {
		display: flex;
		align-items: baseline;
		margin-bottom: .7rem;
	}

	&__buttons {
		margin-top: .8rem;
		margin-bottom: .8rem;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 1;
	}

	&__title {
		font-family: $secondary-font;
	}

	&__subtitle {
		font-weight: 400;
	}

	&__arrow {
		font-size: 1.5rem;
		padding-left: 1rem;
		padding-right: .6rem;
	}

	&__cover-wrapper,
	&__marker-wrapper {
		position: relative;
	}

	&__marker,
	&__cover {
		display: flex;
		// border: $border-width solid $border-color-dark;
		// border-radius: $border-radius;
		height: 7rem;
		min-width: 7rem;
	}

	&__delete-cover,
	&__delete-marker {
		position: absolute;
		right: .2rem;
		top: -1.7rem;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
	}

	&__delete-image {
		position: absolute;
		right: .2rem;
		top: .2rem;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
	}

	&__spinner {
		color: $primary-color;
	}

	&__cover-marker {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: .5rem;

		> .form-group {
			border-radius: $border-radius;
			padding: .5rem;
			border: 1px solid $border-color;
			margin: 0;
		}
	}

	&__images-wrapper {
		border: 1px solid $border-color;
		border-radius: $border-radius;
		padding: .5rem;
		margin-top: .5rem;
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		grid-gap: .5rem;
	}

	&__image {
		position: relative;
		border: 1px solid $border-color;
		border-radius: $border-radius;

		img {
			max-width: 190px;
		}
	}
}
