.places-list {
  background-color: $secondary-color;
  display: grid;
  grid-gap: 3px;

  border-top: 4px solid $secondary-color;
  border-left: 4px solid $secondary-color;
  border-right: 4px solid $secondary-color;

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: $light-color;
    // padding-right: .5rem;
    // padding: .6rem;

    @media (min-width: 400px) {
      // padding: .8rem;
    }

    @media (min-width: 560px) {
      // padding: .8rem 2rem;
    }
  }

  &__title {
    font-family: $primary-font;
    font-weight: 600;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    // background-color: orange;
  }

  &__marker {
    height: 6rem;
    overflow: hidden;
  }
}