.tooltip {
	position: relative;

	&__content {
		position: absolute;
		right: 0;
		top: -.3rem;
		background: rgba($dark-color, .9);
		color: $light-color;
		white-space: pre;
    padding: $unit-1 $unit-2 $unit-1 $unit-2;
    border-radius: $border-radius;
		opacity: 0;
    transition: all .2s ease;
    transform: translate(-15%, $unit-3);
    text-overflow: ellipsis;
    max-width: $control-width-sm;
  }
  
  &__children:hover + &__content,
  &__children:focus + &__content {
		opacity: 1;
    transform: translate(-15%, 1px);
    z-index: 0;
	}
}
