.create-edit-place-form {
	height: 100%;
	min-height: 300px;
	padding-left: .8rem;
	padding-right: .8rem;
	max-width: 768px;
	padding-top: .4rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	&__photos-page {
		flex: 1;
		padding-bottom: 1rem;
	}

	&__header {
		display: flex;
		align-items: baseline;
		margin-bottom: .7rem;
		flex-shrink: 1;
	}

	&__buttons {
		margin-top: .8rem;
		margin-bottom: .8rem;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 1;
	}

	&__title {
		font-family: $secondary-font;
	}

	&__subtitle {
		font-weight: 400;
	}

	&__arrow {
		font-size: 1.5rem;
		padding-left: 1rem;
		padding-right: .6rem;
	}

	&__cover-wrapper,
	&__logo-wrapper,
	&__marker-default-wrapper,
	&__marker-active-wrapper {
		position: relative;
	}

	&__cover-image,
	&__logo-image,
	&__marker-default-image,
	&__marker-active-image {
		display: flex;
		// border: $border-width solid $border-color-dark;
		// border-radius: $border-radius;
		// height: 7rem;
		max-height: 7rem;
		max-width: 100%;
		// min-width: 7rem;
	}

	&__delete-icon {
		position: absolute;
		right: .2rem;
		top: -1.7rem;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
	}

	&__delete-image,
	&__delete-photo {
		position: absolute;
		right: .2rem;
		top: .2rem;
		width: 1.2rem;
		height: 1.2rem;
		cursor: pointer;
	}

	&__cover-logo-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: .5rem;

		> .form-group {
			border-radius: $border-radius;
			padding: .5rem;
			border: 1px solid $border-color;
			margin: 0;
		}
	}

	&__marker-default-active-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: .5rem;
		padding-top: .5rem;

		> .form-group {
			border-radius: $border-radius;
			padding: .5rem;
			border: 1px solid $border-color;
			margin: 0;
		}
	}

	&__photos-wrapper {
		border: 1px solid $border-color;
		border-radius: $border-radius;
		padding: .5rem;
		margin-top: .5rem;
	}

	&__photos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		grid-gap: .5rem;
	}

	&__photo {
		position: relative;
		border: 1px solid $border-color;
		border-radius: $border-radius;

		img {
			max-width: 100%;
		}
	}

	&__dropzone-wrapper {
		position: relative;

		.form-input-hint {
			position: absolute;
			top: .2rem;
			left: .5rem;
		}
	}

	&__dropzone {
		height: 200px;
		border-width: 2px;
		border-color: rgb(102, 102, 102);
		border-style: dashed;
		border-radius: $border-radius;
	}

	&__spinner {
		color: $primary-color;
	}

	&__dropzone-spinner {
		color: $primary-color;
		height: 200px;
		border-width: 2px;
		border-color: rgb(102, 102, 102);
		border-style: dashed;
		border-radius: $border-radius;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__credit-position {
		border-width: 2px;
		border-color: rgb(102, 102, 102);
		border-style: dashed;
		border-radius: $border-radius;
		border-bottom: none;

		> .form-group {
			display: flex;
			justify-content: space-around;
			margin-bottom: -.2rem;
			margin-top: .1rem;
		}
	}

	&__lower-left-icon {
		width: 1rem;
		height: 1rem;
	}
}
