.header {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $secondary-font;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 4px;

	background-color: $secondary-color;

	@media (min-width: 768px) {
		font-size: 2rem;
	}

	&__logo {
		width: 56px;
		padding-top: .3rem;
		padding-left: .5rem;
		padding-right: .5rem;

		@media (min-width: 768px) {
			width: 72px;
		}
	}

	&__combination {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $dark-color;
		text-decoration: none;
	}
}
